/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .lesson {
    width: 50%;
    margin-bottom: 50px;
  }

  .top-wrapper h1 {
    font-size: 32px;
  }

  .heading h2 {
    font-size: 20px;
  }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .heading {
    width: 100%;
  }

  .heading h1{
    font-size: 22px;
  }

  input, textarea{
    width: 90%;
  }

  .display-bottomleft{
    text-align: center;
    margin-left: 75px;
    margin-top: -220px;
    display: block!important;
   }

  .mySlides{
    margin-top: -100px;
    margin-bottom: 420px;
    display: block;
  }

  .message-wrapper {
    padding-bottom: 630px;
  }

  iframe{
    width: 90%;
  }


  img{
    margin-left: 75px;
    margin-top: 130px;
    width: 150%;
    display: block;
  }

  footer {
    text-align: center;
  }

  .menus img{
    padding: 2px;
    margin: 50px;
    display: block;
  }

  #menu1-image{
    margin-left: 0;
    width: 50%!important;
  }

  #btn1{
    margin-left: 40px;
    margin-top: -30px;
    margin-bottom: 30px;
    width: 100px!important;
  }

  #menu2-image{
    margin-left: 0px;
    margin-top: 0px;
    width: 50%!important;
  }

  #btn2{
    margin-left: 12px;
    margin-top: -30px;
    margin-bottom: 30px;
    width: 100px!important;
  }

  #menu3-image{
    margin-left: 0px;
    margin-top: 0px;
    width: 50%!important;
  }

  #btn3{
    margin-left: 12px;
    margin-top: -30px;
    margin-bottom: 30px;
    width: 100px!important;
  }

  .menu4-image{
    margin-left: 2px!important;
    margin-top: 0px;
    width: 50%!important;
  }

  #btn4{
    margin-left: 12px;
    margin-top: -30px;
    margin-bottom: 30px;
    width: 100px!important;
  }

  #menu5-image{
    margin-left: 0px;
    margin-top: 0px;
    width: 50%!important;
  }

  #btn5{
    margin-left: 12px;
    margin-top: -30px;
    margin-bottom: 30px;
    width: 100px!important;
  }

  #menu6-image{
    margin-left: 0px;
    margin-top: 0px;
    width: 50%!important;
  }

  #btn6{
    margin-left: 12px;
    margin-top: -30px;
    margin-bottom: 30px;
    width: 100px!important;
  }

  #menu7-image{
    margin-left: 0px;
    margin-top: 0px;
    width: 50%!important;
  }

  #btn7{
    margin-left: 12px;
    margin-top: -30px;
    margin-bottom: 30px;
    width: 100px!important;
  }

  .btn {
    width: 100%;
  }

  .top-wrapper {
    text-align: left;
  }

  /*.header-right{
    display: none
  }

  .menu-icon{
    display: block;
    float: right;
  }*/

  .button-menu{
    margin-right: 20px;
  }


  .top-wrapper h1 {
    font-size: 24px;
    line-height: 36px;
  }

  .top-wrapper p {
    font-size: 14px;
    line-height: 20px;
  }
}
